
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.

# END WordPress
# BEGIN Simply Static
# The directives (lines) between "BEGIN Simply Static" and "END Simply Static" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<Files "D:\xampp\htdocs\nsch/wp-content/uploads\simply-static\a3e6e9039c35cd10750a33dc0b1f7d56-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static